.tabHeading1{
    text-align: left !important;
    color: #232F3E !important;
    margin-left: 10px !important;
    font-family: AmazonEmberBold,Helvetica Neue Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500 !important;  
    font-size: 1.4rem !important;
    word-wrap: break-word;
}
.tabbar2{
    padding: unset !important;
    padding-right: 16px !important;
}
.tabHeading2{
    margin: 0 !important;
    text-align: left !important;
    font-family: AmazonEmberBold,Helvetica Neue Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500 !important;  
    font-size: 1.4rem !important;
    word-wrap: break-word;
    background-color: green !important;
    color: white !important;
    width: 200px !important;
    padding-left: 15px;
}
.MuiButtonBase-root{
    align-items: flex-start !important;
    justify-content: unset !important;
}
.MuiAccordionSummary-root.Mui-expanded {
    min-height: 0px !important;
}
    .MuiAccordionSummary-content.Mui-expanded{
    margin: 0 !important;
}
.tabbodyHeading{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    margin-bottom: 0!important;
    text-rendering: optimizeLegibility;
    display: block;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #0F1111;
}
.space{
    margin-bottom: 15px;
}
.tabBody{
    font-weight: 100;
    font-size: 18px;
    color: var(--gray);
}
.tab{
    text-align: start;
}
.button{
    text-align: start;
}
.tabstyle{
    
}