.tabHeading{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin-bottom: 0!important;
    text-rendering: optimizeLegibility;
    display: block;
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #0F1111;
}
.tabBody{
    font-weight: 100;
    font-size: 18px;
    color: var(--gray);
}
.bodyData{
    margin-bottom: 20px;
}
.tab{
    text-align: start;
}
.button{
    text-align: start;
}