.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo :hover {}


.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.header_option:hover {
    color: orangered;
}

.header_optionLineOne {
    font-size: 10px;
    color:black;
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.option{
    cursor: pointer;
}
.option:hover{
    color:orange;
}
.menu{
    cursor: pointer;
}
.menu:hover{
    color: orangered;
}
.option1{
    cursor: pointer;
    color: white;
}
.option1:hover{
    color:orange;
}
.list{
    list-style: none;
    padding-left: 0;
    text-align: center;
    align-items: center;

}
.home_name{
    padding-top: 0.5rem;
    background-color: #232f3e;
    height: 50px;
    align-items: center;
}
.home_name1{
    height: 50px;
    align-items: center;
}
.rightoptionmore{
    grid-gap: 40px;
    display: flex;
    grid-template-columns: repeat(3,auto);
    list-style-type: none;
    margin-bottom: 0;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}