.box{
    background-color: #966F33;

}
@media screen and (max-width: 1000px) 
{
.row{
    padding: 70px 30px;
  }
    
}
.container {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
  
  
   }
   
.column{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}
   
.row{
    display: flex;
    align-items: center;
    gap: 20px;
}
   
  @media screen and (max-width: 1000px) {
    .row{
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
    }
  }
   
.footerlink{
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}

.footerlink:hover {
      color: green;
      transition: 200ms ease-in;
  }
   
.heading{
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}