.box{
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #232F3E;
  position: relative;
  margin-top: 0;
  padding-top: 2rem;
    padding-bottom: 5rem;
}
@media screen and (max-width: 1000px) 
{
.row{
    padding: 70px 30px;
  }
    
}
.container {
  display: table;
  margin: 0 auto;
   }
.footerspace{
  display: table-cell;
  padding: 0 10px;
  width: 10%;
}
.footercolumn{
  display: table-cell;
    padding: 0 10px;
    line-height: 120%;
    vertical-align: top;
    font-family: "Amazon Ember",Arial,sans-serif;
}
   
.row{
    display: contents;
    align-items: center;
    gap: 20px;
}
   
  @media screen and (max-width: 1000px) {
    .row{
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
    }
  }
   
.footerlink{
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: none;

  color: #DDD;
}

.footerlink:hover {
  color: #DDD;
      transition: 200ms ease-in;
      text-decoration: underline;
      text-decoration-color: #DDD;
  }
   
.footerheading{
  font-weight: 700;
    color: #FFF;
  margin-bottom: 40px;
  white-space: normal;
  font-size: 20px;
  margin: 6px 0 14px 0;
  font-family: inherit;
}
.footerlist{
  margin: 0 0 10px;
  list-style-type: none;
    white-space: nowrap;
    word-wrap: break-word;
    list-style: disc;
    display: list-item;
    text-align: -webkit-match-parent;
}
.footerul{
  margin: 0;
  padding: 0;
}